:root {
  --cart-aside-summary-height-with-discount: 300px;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
/* TODO: implement this in the Aside component */
@media (max-width: 45em) {
  html:has(.overlay.expanded) {
    overflow: hidden;
  }
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/

.product-options-item,
.product-options-item:disabled {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.product-option-label-swatch {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0;
}

.product-option-label-swatch img {
  width: 100%;
}
