/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
/* TODO: implement this in the Aside component */
@media (max-width: 45em) {
  html:has(.overlay.expanded) {
    overflow: hidden;
  }
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/

.product-option-label-swatch {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0;
}

.product-option-label-swatch img {
  width: 100%;
}
