@import 'tailwindcss';

@import './fonts.css';

:root {
  --primary: oklch(22.931% 0.04172 147.508);
  /* --primary-hex: #1a2a22; */
  --primary-light: oklch(27.848% 0.01243 107.228);
  --primary-accent: oklch(37.371% 0.09092 146.316);
  --secondary: oklch(82.516% 0.00669 16.522);
  /* --secondary-hex: #d7d7d2; */
  --accent-1: oklch(59.077% 0.13363 274.229);
  /* --accent-1: #7b4fff; */
  --accent-2: oklch(55.36% 0.14248 51.912);

  --font-acma: 'PPAcma', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

[data-theme='light'] {
  --primary: oklch(84.916% 0.01082 106.772);
  --primary-light: oklch(90.698% 0.01331 106.788);
  --primary-accent: oklch(89.548% 0.10095 112.585);
  --secondary: oklch(13.335% 0.00529 107.148);
  --accent-1: oklch(58.772% 0.18076 9.838);
  --accent-2: oklch(43.037% 0.24756 269.068);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-accent: var(--primary-accent);
  --color-secondary: var(--secondary);
  --color-secondary-accent: var(--secondary-accent);
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);

  --font-primary: var(--font-acma);
  --font-secondary: var(--font-inter);

  --radius-huge: 6rem;

  --text-display-large: 147px;
  --text-display-medium: 103px;
  --text-display-small: 62px;
  --text-headline-large: 51px;
  --text-headline-medium: 40px;
  --text-headline-small: 32px;
  --text-title-large: 22px;
  --text-title-medium: 20px;
  --text-title-small: 18px;
  --text-body-large: 18px;
  --text-body-medium: 16px;
  --text-body-small: 14px;
  --text-label-large: 14px;
  --text-label-medium: 12px;
  --text-label-small: 10px;

  /* Widths based on Tailwind's spacing scale: --spacing: 0.25rem /* 4px */
  --width-aside: 500px;
  --max-width-container: 1800px;
  --grid-item-width: 355px;

  /* Heights based on Tailwind's spacing scale: --spacing: 0.25rem /* 4px */
  --height-header: calc(var(--spacing) * 32);
  --height-footer: calc(var(--spacing) * 16);
  --min-height-full: calc(100vh - var(--height-header) - var(--height-footer));

  /* Minimap dimensions */
  --minimap-width: 180px;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
  }

  html {
    scrollbar-gutter: stable;
  }

  /* LINK STYLES */
  a {
    @apply no-underline;
  }

  .underlined-link {
    @apply relative inline-block w-fit cursor-pointer overflow-x-clip text-secondary no-underline font-light;
  }

  .underlined-link::after {
    @apply absolute bottom-[2px] left-0 z-10 h-px w-full -translate-x-[102%] bg-current transition-transform duration-300 content-[''];
  }

  .underlined-link:hover::after,
  .active.underlined-link::after {
    @apply translate-x-0;
  }

  /* BUTTON STYLES */
  button {
    @apply cursor-pointer;
  }

  .btn-primary {
    @apply bg-primary text-secondary font-medium py-2 px-4 transition-colors duration-300 hover:bg-secondary hover:text-primary;
  }

  .btn-secondary {
    @apply bg-secondary text-primary font-medium py-2 px-4 transition-colors duration-300 hover:bg-secondary/30 hover:text-secondary;
  }

  .btn-secondary-sm {
    @apply bg-secondary text-primary font-medium transition-colors duration-300 hover:bg-secondary/30 hover:text-secondary text-label-large py-[2px] px-2;
  }

  .btn-ghost {
    @apply bg-transparent text-secondary font-medium py-2 px-4 border border-secondary transition-colors duration-300 hover:bg-secondary hover:text-primary;
  }

  .btn-ghost-sm {
    @apply bg-transparent text-secondary font-medium border border-secondary transition-colors duration-300 hover:bg-secondary hover:text-primary text-label-large py-[2px] px-2;
  }

  /* HEADING STYLES */
  /* h1 {
    @apply font-primary;
  } */

  .heading-display {
    @apply text-display-small md:text-display-medium lg:text-display-large leading-none font-thin;
  }

  .heading-headline {
    @apply text-headline-small md:text-headline-medium lg:text-headline-large leading-none font-thin;
  }

  .heading-title {
    @apply text-title-small md:text-title-medium lg:text-title-large font-medium;
  }

  /* INPUT STYLES */
  .input-primary {
    @apply border border-secondary py-2 px-4 bg-transparent text-secondary placeholder:text-secondary/70 focus:outline-none focus:ring-1 focus:ring-secondary/30 focus:border-transparent transition-colors duration-300;
  }
}
